
.content_div {
    
    margin-top: 2%;
    margin-left: 4%;
}
body{
    background-color: #e0e0e0;
}
.content_div{
height: 400px;
    display: flex;
    border: 3px solid black;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    
}
#hotel-image {
padding-left: 20%;
}
.form{
    padding-right: 10%;

}
.person{
float: left;
margin-right: 30px;
}
.details {
    float: right;
}