.content {
    background-color: #e0e0e0;
}
.image1,.image2,.image3,.image4,.image5,.image6,.image7,.image8 {
    border-radius: 25%;
    box-shadow: 10px 10px 10px grey;
    box-sizing: content-box;
 }
.searchbarbackground{
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    background-position:center center;
    display: flex;
  justify-content: center;
  align-items: center;
    
}
#form-name{
background-color: #f1f1f1;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
}
.city-image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
.viewmore {
    margin-top: 10px;
    text-align: center
}
.cityimage {
    position: relative;
}
.cityimage .middletransition { 
    transition: .5s ease;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 5px;
    right: 0;
    height: 150px;
    width: 150px;
    opacity: 0;
    border-radius: 25%;

}

.cityimage:hover .image1 {
    opacity: 0.5;
    }
.cityimage:hover .image2 {
    opacity: 0.5;
    }
.cityimage:hover .image3 {
    opacity: 0.5;
    }
.cityimage:hover .image4 {
    opacity: 0.5;
    }
.cityimage:hover .middletransition {
    opacity: 1;
    }

.text {
        color: #f1f1f1;
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
 }
 .col-1 {width: 8.33%;}
 .col-2 {width: 16.66%;}
 .col-3 {width: 25%;}
 .col-4 {width: 33.33%;}
 .col-5 {width: 41.66%;}
 .col-6 {width: 50%;}
 .col-7 {width: 58.33%;}
 .col-8 {width: 66.66%;}
 .col-9 {width: 75%;}
 .col-10 {width: 83.33%;}
 .col-11 {width: 91.66%;}
 .col-12 {width: 100%;}
 @media (min-width: 722.99px) and (max-width:3000px){
   /* For large screens: */
   [class*="col-"] {
   width: 100%;
   }
   }
   @media only screen , (min-width: 577px) and (max-width: 722px) {
     /* For mobile phones: */
     [class*="col-"] {
     width: 50%;
    }
     
     }
     @media only screen and (max-width: 576px) {
     /* For mobile phones: */
     [class*="col-"] {
     width: 28%;
     }
     .city-image-container{
       width:50%;
       height:auto;
       display: inline-block;
       
     }
     .image,.image1,.image2,.image3{
       margin:15px;
     }
     footer {
       display:flex;
       justify-content: space-between; 
     }
    }