html {
    scroll-behavior: smooth;
  }
  html,body{
    height: 100%;
    margin: 0;
}
header,footer{
    background-color: rosybrown;
}
body {
  background-color: #e0e0e0;
}

.hotel-images{
  margin: 2%;
}
.hotel-image {
  width: 40%;
  background-color: rgb(132,136,139);
}