
body{
    background-color: #e0e0e0;
}
.hotel-details {
    background-color: rgb(132, 136, 139);
    width: 50%;
    height: auto;
    display: inline-flex;
}
.customer-details {
    border: 1px solid black;
    margin: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    box-sizing: content-box;
}
.hotel-details{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 5%; ;
  }

  .customer-details {
      background-color: rosybrown;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }
  .hotel-address > h3 {
  font-size: large;    
  }